//mobile menu
nav{
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    z-index: 10;
    transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    background-color: #282829;
    color: #fff;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1.3;
    }
    li{
        &.active a,
        &:hover a,
        &:focus a{
            text-decoration: underline;
        }
    }
    a{
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 1em 3em;
    }
}
nav#nav:target {
    display: block;
    transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    right: 0;
    width: 15em;
    padding: 0;
    overflow-y: visible;
    z-index: 500;
}
nav#nav:target+#dark-cover {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0.7);
    transition: background-color 150ms ease;
    &:hover{
        cursor: pointer;
    }
}
nav#mobile-nav:target+#dark-cover+#outer-wrap{
    overflow:hidden
}
#nav-button{
    position: absolute;
    top:-1em;
    right: 0;
}
.close-icon{
    width: 1em;
    height: 1em;
    color: #fff;
    fill:#fff;
}
.mobile-menu{
    width: 4.5em;
    height: 2.5em;
}
//tablet menu
@media screen and (min-width:40.063em) {
    #nav-button,
    #dark-cover{
        display: none;
    }
    nav{
        width: auto;
        position: relative;
        right: auto;
        z-index: 0;
        background-color: #ccc;
        color: #000;
        &#nav:target{
            width: auto;
            overflow: auto;
            z-index: 0;
            transition: none;
        }
        .close{
            display: block;
            height: 0;
            overflow: hidden;
            width: 0;
        }
        a{
            text-decoration: none;
            color: #000;
        }
    }
}
// desktop menu
@media screen and (min-width:64.063em) {
    nav{
        ul{
            text-align: center;
            margin: 0 auto;
            li{
                display: inline-block;
            }
        }
    }
}
